<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.0.xsd"
  name="slf4j-jameica" version="1.0.0" class="de.willuhn.jameica.hbci.HBCI">

  <description>SLF4J-Bindings für Jameica</description>
  <url>https://bmhm.github.io/repositories/hibiscus/slf4j-jameica/slf4j-jameica.zip</url>
  <homepage>https://github.com/bmhm/slf4j-jameica</homepage>

  <license>Apache License version 2.0</license>

  <requires jameica="2.6.0+">
  </requires>


</plugin>
